snippet pu
	public ${0}

snippet pr
	private ${0}

snippet ex
	extends ${0}
snippet ext
	extends ${0}

snippet im
	implements ${0}
snippet imp
	implements ${0}


## looooooooong

snippet co
	CompletableFuture${0}
snippet com
	CompletableFuture${0}
snippet comp
	CompletableFuture${0}
snippet Co
	CompletableFuture${0}
snippet Com
	CompletableFuture${0}
snippet Comp
	CompletableFuture${0}

snippet st
	Stream${0}
snippet str
	Stream${0}
snippet St
	Stream${0}
snippet Str
	Stream${0}
